<html>
  <body>
    <table>
      <thead>
        <th>
          <th class="box_show">タイトル</th>
          <th class="box_show"><%= @book.title %></th>
        </th>
      </thead>
      
      <thead>
        <th>
          <th class="box_show">本文</th>
          <th class="box_how"><%= @book.body %></th>
        </th>
      </thead>
      
      <tbody>
        <tr>
          <td class="button_show"><%= link_to"edit", edit_book_path(@book.id) %></td>
          <td class-"button_show"><%= link_to "back", index_book_path %></td>
        </tr>
      </tbody>
    </table>
    <p class="message"><%= flash[:notice] %></p>
  </body>
</html>